
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8eb970;
    color: #fff;
    text-align:left;
    padding: 20px;

}
nav ul {
    list-style:row;
} 



.mySlides {
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}


.prev {
    left: 0;
}


.next {
    right: 0;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active {
    background-color: #717171;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.book {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
}



button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
 

a{
    text-decoration: none;
    color: black;
}